<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sawankumarsingh.tourguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tour_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tour_app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TourGuideList"
            android:label="Tour Guide List" />
        <activity
            android:name=".ArchitecturalBuildings"
            android:label="@string/architectural_buildings"
            android:parentActivityName=".TourGuideList"/>
        <activity
            android:name=".Museums"
            android:label="@string/museums"
            android:parentActivityName=".TourGuideList"/>
        <activity
            android:name=".NatureAndParks"
            android:label="@string/nature_and_parks"
            android:parentActivityName=".TourGuideList"/>
        <activity
            android:name=".WaterParks"
            android:label="@string/water_parks"
            android:parentActivityName=".TourGuideList"/>
        <activity
            android:name=".ShoppingMall"
            android:label="@string/shopping_malls"
            android:parentActivityName=".TourGuideList"/>
    </application>

</manifest>